In [40]:
import pandas as pd
import numpy as np
csv_path2 = "resource/State_emp.csv"
csv_path = "resource/US_MSB.csv"
msb = pd.read_csv(csv_path, encoding="utf-8")
emp_perc = pd.read_csv(csv_path2, encoding="utf-8")
msb.head()

,LEGAL NAME,DBA NAME,STREET ADDRESS,CITY,STATE,ZIP,MSB ACTIVITIES,STATES OF MSB ACTIVITIES,ALL STATES & TERRITORIES & FOREIGN FLAG**,FOREIGN LOCATION,# OF BRANCHES,AUTH SIGN DATE,RECEIVED DATE
0,$1 store,$1 store llc,110 n martin ave,gila bend,AZ,85337,408,AZ,NaN,NaN,NaN,1/6/2015,1/7/2015
1,$1 STORE LLC,$1 STORE LLC,110 N MARTIN AVE,GILA BEND,AZ,85337,408,AZ,NaN,NaN,NaN,3/29/2016,3/30/2016
2,$1 STORE LLC,$1 STORE LLC,110 N MARTIN AVE,GILA BEND,AZ,85337,409 408,AZ,NaN,NaN,NaN,5/4/2017,5/5/2017
3,"0713, LLC/Andrew",About Cash - Odessa West,1410 N County Rd West,Odessa,TX,79763,405 408 413,TX,NaN,NaN,NaN,1/16/2018,1/17/2018
4,0baid/munir/gazem,jiffys store,538 central ave,shafter,CA,93263,405 408,CA,NaN,NaN,NaN,4/7/2015,12/4/2015

In [41]:
emp_perc['STATE'] = emp_perc['GEO.display-label']
emp_perc = emp_perc.drop('GEO.display-label', 1)
emp_perc = emp_perc[["STATE", "Percent Employed"]]
emp_perc.head()

        STATE  Percent Employed
0     Alabama              57.6
1      Alaska              67.5
2     Arizona              59.1
3    Arkansas              58.1
4  California              63.0

In [42]:
msb_df = msb[["LEGAL NAME","CITY", "STATE", "ZIP", "MSB ACTIVITIES", "AUTH SIGN DATE"]]

msb_df.head()

          LEGAL NAME       CITY STATE    ZIP MSB ACTIVITIES AUTH SIGN DATE
0           $1 store  gila bend    AZ  85337            408       1/6/2015
1       $1 STORE LLC  GILA BEND    AZ  85337            408      3/29/2016
2       $1 STORE LLC  GILA BEND    AZ  85337        409 408       5/4/2017
3   0713, LLC/Andrew     Odessa    TX  79763    405 408 413      1/16/2018
4  0baid/munir/gazem    shafter    CA  93263        405 408       4/7/2015

In [43]:
msb_df['STATE']=msb_df['STATE'].astype(str)
msb_df.dtypes

C:\Users\Craig\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

LEGAL NAME        object
CITY              object
STATE             object
ZIP               object
MSB ACTIVITIES    object
AUTH SIGN DATE    object
dtype: object

In [44]:
us_state = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VT': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming',
}

In [45]:
msb_df['STATE'] = msb_df['STATE'].map(us_state).astype(str)
msb_df.head()

C:\Users\Craig\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,LEGAL NAME,CITY,STATE,ZIP,MSB ACTIVITIES,AUTH SIGN DATE
0,$1 store,gila bend,Arizona,85337,408,1/6/2015
1,$1 STORE LLC,GILA BEND,Arizona,85337,408,3/29/2016
2,$1 STORE LLC,GILA BEND,Arizona,85337,409 408,5/4/2017
3,"0713, LLC/Andrew",Odessa,Texas,79763,405 408 413,1/16/2018
4,0baid/munir/gazem,shafter,California,93263,405 408,4/7/2015

In [48]:
# Merging on State
merged_df = pd.merge(msb_df, emp_perc, on="STATE")
merged_df.head()

,LEGAL NAME,CITY,STATE,ZIP,MSB ACTIVITIES,AUTH SIGN DATE,Percent Employed
0,$1 store,gila bend,Arizona,85337,408,1/6/2015,59.1
1,$1 STORE LLC,GILA BEND,Arizona,85337,408,3/29/2016,59.1
2,$1 STORE LLC,GILA BEND,Arizona,85337,409 408,5/4/2017,59.1
3,1 2 3 MONEY EXCHANGE LLC,SAN LUIS,Arizona,85349,405 409 408,5/21/2015,59.1
4,"1,2,3 MONEY EXCHANGE LLC/*",SAN LUIS,Arizona,85349,408 499,10/30/2017,59.1